name: test
on: [push, pull_request]
jobs:
  linux:
    name: test
    runs-on: ubuntu-latest
    steps:
    - name: Start solana
      run: docker run -d -p 8899:8899 -p 8900:8900 solanalabs/solana:v1.8.3
    - name: Checkout sources
      uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - run: yarn install
    - run: yarn run build:test
    - run: yarn test
